<div class="form-group">
  <label for="">Nombre: </label>
  <input type="text" class="form-control" placeholder="Ingresa tu Nombre" aria-describedby="helpId">
  <br>
  <label for="">Usuario</label>
  <input type="text" class="form-control" placeholder="Ingresar Usuario" aria-describedby="helpId">
<br>
  <label for="">Telefono</label>
  <input type="text" class="form-control" placeholder="Ingresa Numero Telefonico" aria-describedby="helpId">
<br>  
  <label for="">Direccion</label>
  <input type="text" class="form-control" placeholder="Ingresa tu Direccion " aria-describedby="helpId">
</div>

<button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="Submit()">Click me</button>
